  <link rel="stylesheet" href="/login.css">
  <div class="login-container">
    <h2>๐ ฤฤng Nhแบญp</h2>

    <% if (typeof error !== 'undefined') { %>
      <p class="error-message"><%= error %></p>
    <% } %>

    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Tรชn ฤฤng nhแบญp" required />
      <input type="password" name="password" placeholder="Mแบญt khแบฉu" required />
      <button type="submit">ฤฤng Nhแบญp</button>
    </form>
  </div>
